.card {
  border-radius: 0.5em;
  box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
}

.line-break {
  border-bottom: 1px solid #bbb;
}

.slider {
  margin: 0.25em 0;
}

.title {
  margin-top: 1em;
  text-align: center;
}

.row {
  margin: auto 0;
}

button {
  margin-top: 0.5em;
}

#password-area {
  outline: 0;
  border: 2.5px dashed #eee;
  border-radius: 0.5em;
  color: #aaa;
  padding: 0.5em;
  margin: 0.5em 0;
  height: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
}

#password-area p {
  margin: 0;
}

.letter {
  color: #677078;
}

.digit {
  color: #007bff;
}

.symbol {
  color: #c82333;
}